* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 999;
}

.header .header-wrap {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}

.header .header-wrap .logo img {
    width: 120px;
    height: 45px;
    float: left;
    margin-top: 18px;
}

.header .header-wrap .nav-box {
    width: 500px;
    height: 80px;
    line-height: 80px;
    margin-left: 45px;
    float: left;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.header .header-wrap .nav-box li a {
    color: #684029;
}

.header .header-wrap li:hover a {
    color: #ba8251;
}

.header .header-wrap .header-right {
    float: right;
    width: 322px;
    height: 15px;
    margin-top: 33px;
    font-size: 14px;
    position: relative;
}

.header .header-wrap .header-right .head {
    .hidden {
        display: none;
    }
}

.header .header-wrap .header-right .head li {
    float: left;
}

.header .header-wrap .header-right .head .head-city {
    margin-left: 40px;
    width: 43px;
    position: relative;
}

.header .header-wrap .header-right .head .head-city .city-option {
    position: absolute;
    left: -35px;
    height: 174px;
    width: 110px;
    top: 35px;
    text-align: center;
    padding: 12px 0;
    background: #fff;
    border: 1px solid #EDEDED;
    box-shadow: 0px 2px 4px 0px #ededed;
    z-index: 100000;
    display: none;
}

.header .header-wrap .header-right .head .head-city .city-option .cityli a {
    display: block;
    color: #D5BFA7;
    line-height: 18px;
    margin: 6px 0;
    cursor: pointer;
}

.header .header-wrap .header-right .head .head-city .city-option .cityli:hover a {
    color: #684029;
}

.header .header-wrap .header-right .head .head-city a i {
    background: url(../images/icon.png) no-repeat;
    background-position: 0 -59px;
    background-size: 310px 120px;
    height: 7px;
    width: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}

.header .header-wrap .header-right .head li .head-messege {
    position: absolute;
    left: -35px;
    height: 54px;
    width: 110px;
    top: 35px;
    text-align: center;
    padding: 12px 0;
    background: #fff;
    border: 1px solid #EDEDED;
    box-shadow: 0px 2px 4px 0px #ededed;
    z-index: 100000;
    display: none;
}

.header .header-wrap .header-right .head li .head-messege .messegep a {
    display: block;
    color: #D5BFA7;
    line-height: 18px;
    margin: 6px 0;
    cursor: pointer;
}

.header .header-wrap .header-right .head li:nth-child(3) {
    margin-left: 30px;
    position: relative;
}

.header .header-wrap .header-right .head .login-register {
    margin-left: 20px;
}

.header .header-wrap .header-right .head .user-img-info {
    margin-left: 20px;
    width: 40px;
    padding-left: 20px;
    .header-user {
        height: 102px;
        position: absolute;
        left: 192px;
        width: 110px;
        top: 35px;
        text-align: center;
        padding: 12px 0;
        background: #fff;
        border: 1px solid #EDEDED;
        box-shadow: 0px 2px 4px 0px #ededed;
        z-index: 100000;
        .header-user-list a {
            display: block;
            color: #D5BFA7;
            line-height: 18px;
            margin: 6px 0;
        }
    }
}

.header .header-wrap .header-right .head .user-img-info .header-user .header-user-list:hover a {
    color: #684029;
}

.header .header-wrap .header-right .head .user-img-info a img {
    width: 18px;
    height: 20px;
}

.header .header-wrap .header-right .head .cart-addumber {
    width: 20px;
    height: 20px;
    margin-left: 24px;
}

.header .header-wrap .header-right .head .cart-addumber a i {
    position: absolute;
    color: #fff;
    background: red;
    border-radius: 10px;
    height: 15px;
    line-height: 15px;
    width: 15px;
    right: -4px;
    top: -8px;
    font-size: 12px;
    text-align: center;
    font-style: normal;
}

.header .header-wrap .header-right .head .cart-addumber a span {
    background: url(../images/icon.png) no-repeat;
    background-position: -286px -76px;
    background-size: 310px 120px;
    height: 18px;
    display: inline-block;
    width: 20px;
}

.header .header-wrap .header-right .head li a {
    color: #684029;
}

.header .header-wrap .header-right .erweima {
    height: 136px;
    border: 1px solid #ccc;
    width: 120px;
    position: absolute;
    text-align: center;
    left: -35px;
    display: none;
    background: #fff;
    top: 35px;
}

.header .header-wrap .header-right .erweima dt img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.header .header-wrap .header-right .erweima dd {
    width: 120px;
    height: 13px;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    color: #684029;
}

.list-menu {
    width: 1200px;
    height: 115px;
    font-size: 13px;
    margin: 0 auto;
    position: relative;
    top: 105px;
    border-top: #f2f2f2 solid 1px;
    border-bottom: #f2f2f2 solid 1px;
    overflow: hidden;
    padding: 8px 0;
}

.list-menu dl {
    line-height: 50px;
    height: 50px;
}

.list-menu dl dt {
    color: #9B9B9B;
    float: left;
    margin: 0 13px;
    margin-right: 38px;
}

.list-menu dl dd {
    float: left;
    margin: 0 13px;
}

.list-menu dl dd a {
    color: #684029;
}

.list-menu dl dd:hover a {
    color: #BB9772;
}

.list-menu dl .current a {
    color: #BB9772;
}

.list-box {
    width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
    height: 4720px;
}

.list-box .list-img {
    width: 300px;
    height: 364px;
    font-size: 13px;
    text-align: center;
    float: left;
    position: relative;
}

.list-box .list-img dt {
    position: relative;
    width: 228px;
    margin-left: 26px;
}

.list-box .list-img dt a img {
    width: 228px;
    height: 246px;
}

.list-box .list-img dt a h4 {
    color: #684029;
    line-height: 20px;
    font-weight: normal;
}

.list-box .list-img dt a:hover h4 {
    color: #BB9772;
}

.list-box .list-img dt a span {
    display: block;
    color: #BB9772;
    line-height: 18px;
    margin-top: 5px;
}

.list-box .list-img dd:nth-child(2) a {
    display: inline-block;
    border: 1px solid #D5BFA7;
    border-radius: 100px;
    padding: 0 6px 0 8px;
    color: #D5BFA7;
    margin: 8px 3px;
}

.list-box .list-img dd:nth-child(3) {
    position: relative;
    width: 107px;
    height: 18px;
    margin: 2px auto;
}

.list-box .list-img dd:nth-child(3) .pro-list-addcart {
    display: inline-block;
    width: 107px;
    height: 18px;
    color: #684029;
    background: none;
    background: #fff;
    border: none;
    outline: none;
}

.list-box .list-img dd:nth-child(3) .pro-list-addcart:hover {
    color: #BB9772;
}

.list-box .list-img dd:nth-child(3) i {
    display: inline-block;
    vertical-align: middle;
    background: url(../images/icon.png) no-repeat;
    background-position: -216px -40px;
    background-size: 310px 120px;
    height: 28px;
    width: 28px;
    position: absolute;
    left: -10px;
    top: -5px;
}

.list-box .list-img dt p img {
    width: 65px;
    height: 23px;
    position: absolute;
    left: 0;
    top: 0;
}

.list-box .list-img .arrival a {
    color: #684029;
    font-size: 13px;
}

.list-box .list-img .arrival a i {
    display: inline-block;
    height: 22px;
    width: 15px;
    background: url(../images/icon.png) no-repeat;
    background-position: -246px -44px;
    background-size: 310px 120px;
    vertical-align: middle;
    margin-right: 4px;
}

.list-box .list-img .arrival a:hover {
    color: #BB9772;
}

.list-box .list-img .hope a {
    display: block;
    width: 300px;
    height: 320px;
    line-height: 230px;
    background: rgba(255, 255, 255, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    color: #684029;
    font-size: 14px;
}

.list-box .list-img .hope a:hover {
    color: #BB9772;
}

.list-box .list-img .addcart-success {
    position: absolute;
    bottom: -120px;
    left: 0;
    width: 240px;
    background: #F8F8F8;
    padding: 12px 12px 20px 12px;
    z-index: 20;
    display: none;
    transition: all 5 s ease 0 s;
}

.list-box .list-img .addcart-success p {
    text-align: center;
    font-size: 14px;
    color: #B08C7E;
    line-height: 25px;
    padding: 26px 0 15px;
}

.list-box .list-img .addcart-success p i {
    display: inline-block;
    height: 25px;
    width: 25px;
    vertical-align: middle;
    background: url(../images/icon.png) no-repeat;
    background-position: -266px -40px;
    background-size: 310px 120px;
    margin-right: 6px;
}

.list-box .list-img .addcart-success a {
    background: #684029;
    color: #fff;
    font-size: 13px;
    height: 30px;
    width: 148px;
    display: block;
    line-height: 30px;
    text-align: center;
    margin: 2px auto 0;
}

.footer {
    width: 100%;
    height: 380px;
    background-color: #333333;
    margin-top: 55px;
    overflow: hidden;
    position: relative;
}

.footer .footer-logo img {
    display: block;
    width: 96px;
    height: 38px;
    margin: 0 auto;
    margin-top: 50px;
}

.footer .footerul {
    width: 705px;
    height: 14px;
    font-size: 12px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.footer .footerul li {
    border-right: 1px solid #fff;
    width: 102px;
}

.footer .footerul li:nth-child(5) {
    border-right: none;
}

.footer .footerul li a {
    color: #fff;
}

.footer .footer-icon {
    width: 260px;
    height: 50px;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.footer .footer-icon a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #494949;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

.footer .footer-icon .footer-weixin {
    position: relative;
}

.footer .footer-icon .footer-weixin .footer-weixin-erweima {
    position: absolute;
    display: block;
    height: 120px;
    width: 120px;
    top: -148px;
    left: -35px;
    display: none;
}

.footer .footer-icon .footer-weixin:hover .footer-weixin-erweima {
    display: block;
}

.footer .footer-icon .footer-weixin .footer-weixin-erweima img {
    height: 100px;
    width: 100px;
    border: 10px solid #fff;
}

.footer .footer-icon .footer-app {
    position: relative;
}

.footer .footer-icon .footer-app .footer-app-erweima {
    position: absolute;
    display: block;
    height: 120px;
    width: 120px;
    top: -148px;
    left: -35px;
    display: none;
}

.footer .footer-icon .footer-app .footer-app-erweima img {
    height: 100px;
    width: 100px;
    border: 10px solid #fff;
}

.footer .footer-icon .footer-app:hover .footer-app-erweima {
    display: block;
}

.footer .footer-icon a img {
    width: 30px;
    height: 25px;
    margin-top: 12px;
}

.footer .footer-main {
    width: 100%;
    height: 102px;
    margin-top: 30px;
    text-align: center;
    border-bottom: 1px solid #959595;
}

.footer .footer-main p {
    font-size: 12px;
    color: #959595;
    height: 18px;
}

.footer .foot {
    font-size: 12px;
    color: #959595;
    text-align: center;
    margin-top: 15px;
}